@use "../config/variaveis" as *;
@use "../config/texts" as *;

.shows {
  padding: 2vw 5.6vw;
  margin-bottom: 5rem;

  &__list {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 44px;

    &--is-active {
      display: grid;
    }

    &__item {
      overflow: hidden;
      border-radius: 4px;

      img {
        max-width: 100%;
        filter: brightness(80%);
        cursor: pointer;
        transition: .3s;

        &:hover {
          filter: brightness(100%);
          transform: scale(1.05);
        }
      }
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;

    &__button {
      @include tabText;
      border: none;
      border-bottom: 5px solid transparent;
      padding-bottom: 5px;
      background: none;
      margin: 0 1vw;
      cursor: pointer;

      &--is-active {
        border-color: $white;
      }
    }
  }
}
