@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//todo Fonte
@font-face {
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

$fontFamily: 'Avenir', sans-serif;

//todo variaveis
$backgroundColor: #040714;
$buttonPurple: #6421ff;
$buttonBlue: #0063e5;
$buttonBlack: rgba(0, 0, 0, 0.8);
$black: #000;
$pureWhite: #fff;
$white: #f9f9f9;
$silver: silver;
$faqBackground: #13151d;

//todo Breakpoints
$mobile: 767px;
$tablet: 1023px;
$iphoneSE: 340px;