@use "config/reset" as *;
@use "config/variaveis" as *;
@use "config/texts" as *;
@use "components/Hero";

//todo Body
body {
    background-color: $backgroundColor;
    font-family: $fontFamily;
}

//todo Textos

.text--small {
    @include text;
}

.text {
    @include text(16px);
}

.text--big {
    @include text(18px)
}

.title--small {
    @include title;
}

.title {
    @include title(40px)
}

.title--big {
    @include title(44px)
}

.link--text {
    @include text(18px);
    color: $primaryTextColor;
}